data/01_Jazz.mat
data/02_NS.mat
data/03_GrQc.mat
data/04_EEC.mat
data/05_Email.mat
data/06_PG.mat
data/07_Enron.mat
data/08_PB.mat
data/09_Facebook.mat
data/10_WV.mat
data/11_Sex.mat
data/12_USAir.mat
data/13_Power.mat
data/14_Router.mat
data/C-elegans-frontal.txt
data/Celegans.dat
data/citeseer.edges
data/citeseer.node_labels
data/citeseer.zip
data/Dolphin.dat
data/download.tsv.petster-hamster.tar.bz2
data/Infectious.txt
data/out.contiguous-usa
data/primaryschool.csv
data/readme.html
data/road-euroroad.edges
data/Slavko.dat
data/soc-dolphins.mtx
data/tij_SFHH.dat
data/Word.dat
data/petster-hamster/ent.petster-hamster
data/petster-hamster/meta.petster-hamster
data/petster-hamster/out.petster-hamster
data/petster-hamster/readme.html
data/petster-hamster/README.petster-hamster
network_evaluation.py
data_eval/co-presence.tar.bz2
data_eval/contact.tar.bz2
data_eval/fri19_1516.csv
data_eval/fri26_1516.csv
data_eval/High-School_data_2013.csv
data_eval/metadata_2011.txt
data_eval/metadata_2012.txt
data_eval/metadata_2013.txt
data_eval/metadata_primaryschool.txt
data_eval/metadata.tar.bz2
data_eval/primaryschool.csv
data_eval/SFHH-conf-sensor.edges
data_eval/thiers_2011.csv
data_eval/thiers_2012.csv
data_eval/thu25_1516.csv
data_eval/thu25_1617.csv
data_eval/tij_InVS.dat
data_eval/tij_InVS15.dat
data_eval/wed17_1516.csv
data_eval/infectious/listcontacts_2009_04_28.txt
data_eval/infectious/listcontacts_2009_04_29.txt
data_eval/infectious/listcontacts_2009_04_30.txt
data_eval/infectious/listcontacts_2009_05_01.txt
data_eval/infectious/listcontacts_2009_05_02.txt
data_eval/infectious/listcontacts_2009_05_03.txt
data_eval/infectious/listcontacts_2009_05_05.txt
data_eval/infectious/listcontacts_2009_05_06.txt
data_eval/infectious/listcontacts_2009_05_07.txt
data_eval/infectious/listcontacts_2009_05_09.txt
data_eval/infectious/listcontacts_2009_05_10.txt
data_eval/infectious/listcontacts_2009_05_12.txt
data_eval/infectious/listcontacts_2009_05_13.txt
data_eval/infectious/listcontacts_2009_05_14.txt
data_eval/infectious/listcontacts_2009_05_15.txt
data_eval/infectious/listcontacts_2009_05_16.txt
data_eval/infectious/listcontacts_2009_05_17.txt
data_eval/infectious/listcontacts_2009_05_19.txt
data_eval/infectious/listcontacts_2009_05_20.txt
data_eval/infectious/listcontacts_2009_05_21.txt
data_eval/infectious/listcontacts_2009_05_22.txt
data_eval/infectious/listcontacts_2009_05_23.txt
data_eval/infectious/listcontacts_2009_05_24.txt
data_eval/infectious/listcontacts_2009_05_26.txt
data_eval/infectious/listcontacts_2009_05_27.txt
data_eval/infectious/listcontacts_2009_05_28.txt
data_eval/infectious/listcontacts_2009_05_29.txt
data_eval/infectious/listcontacts_2009_05_30.txt
data_eval/infectious/listcontacts_2009_05_31.txt
data_eval/infectious/listcontacts_2009_06_02.txt
data_eval/infectious/listcontacts_2009_06_03.txt
data_eval/infectious/listcontacts_2009_06_04.txt
data_eval/infectious/listcontacts_2009_06_05.txt
data_eval/infectious/listcontacts_2009_06_06.txt
data_eval/infectious/listcontacts_2009_06_07.txt
data_eval/infectious/listcontacts_2009_06_09.txt
data_eval/infectious/listcontacts_2009_06_10.txt
data_eval/infectious/listcontacts_2009_06_11.txt
data_eval/infectious/listcontacts_2009_06_12.txt
data_eval/infectious/listcontacts_2009_06_13.txt
data_eval/infectious/listcontacts_2009_06_14.txt
data_eval/infectious/listcontacts_2009_06_16.txt
data_eval/infectious/listcontacts_2009_06_17.txt
data_eval/infectious/listcontacts_2009_06_18.txt
data_eval/infectious/listcontacts_2009_06_19.txt
data_eval/infectious/listcontacts_2009_06_20.txt
data_eval/infectious/listcontacts_2009_06_21.txt
data_eval/infectious/listcontacts_2009_06_23.txt
data_eval/infectious/listcontacts_2009_06_24.txt
data_eval/infectious/listcontacts_2009_06_25.txt
data_eval/infectious/listcontacts_2009_06_26.txt
data_eval/infectious/listcontacts_2009_06_27.txt
data_eval/infectious/listcontacts_2009_06_28.txt
data_eval/infectious/listcontacts_2009_06_30.txt
data_eval/infectious/listcontacts_2009_07_01.txt
data_eval/infectious/listcontacts_2009_07_02.txt
data_eval/infectious/listcontacts_2009_07_03.txt
data_eval/infectious/listcontacts_2009_07_04.txt
data_eval/infectious/listcontacts_2009_07_05.txt
data_eval/infectious/listcontacts_2009_07_07.txt
data_eval/infectious/listcontacts_2009_07_08.txt
data_eval/infectious/listcontacts_2009_07_09.txt
data_eval/infectious/listcontacts_2009_07_10.txt
data_eval/infectious/listcontacts_2009_07_11.txt
data_eval/infectious/listcontacts_2009_07_12.txt
data_eval/infectious/listcontacts_2009_07_14.txt
data_eval/infectious/listcontacts_2009_07_15.txt
data_eval/infectious/listcontacts_2009_07_16.txt
data_eval/infectious/listcontacts_2009_07_17.txt
data_eval_split/InVS/f0_1970-01-01.parquet
data_eval_split/InVS/f0_1970-01-02.parquet
data_eval_split/InVS/f0_1970-01-03.parquet
data_eval_split/InVS/f0_1970-01-04.parquet
data_eval_split/InVS/f0_1970-01-05.parquet
data_eval_split/InVS/f0_1970-01-08.parquet
data_eval_split/InVS/f0_1970-01-09.parquet
data_eval_split/InVS/f0_1970-01-10.parquet
data_eval_split/InVS/f0_1970-01-11.parquet
data_eval_split/InVS/f0_1970-01-12.parquet
data_eval_split/InVS/f1_1970-01-01.parquet
data_eval_split/InVS/f1_1970-01-02.parquet
data_eval_split/InVS/f1_1970-01-03.parquet
data_eval_split/InVS/f1_1970-01-04.parquet
data_eval_split/InVS/f1_1970-01-05.parquet
data_eval_split/InVS/f1_1970-01-08.parquet
data_eval_split/InVS/f1_1970-01-09.parquet
data_eval_split/InVS/f1_1970-01-10.parquet
data_eval_split/InVS/f1_1970-01-11.parquet
data_eval_split/InVS/f1_1970-01-12.parquet
data_eval_split/SFHH/1970-01-01.parquet
data_eval_split/SFHH/1970-01-02.parquet
data_eval_split/gallery/f0_2009-04-28.parquet
data_eval_split/gallery/f1_2009-04-29.parquet
data_eval_split/gallery/f2_2009-04-30.parquet
data_eval_split/gallery/f3_2009-05-01.parquet
data_eval_split/gallery/f4_2009-05-02.parquet
data_eval_split/gallery/f5_2009-05-03.parquet
data_eval_split/gallery/f6_2009-05-05.parquet
data_eval_split/gallery/f7_2009-05-06.parquet
data_eval_split/gallery/f8_2009-05-07.parquet
data_eval_split/gallery/f9_2009-05-09.parquet
data_eval_split/gallery/f10_2009-05-10.parquet
data_eval_split/gallery/f11_2009-05-12.parquet
data_eval_split/gallery/f12_2009-05-13.parquet
data_eval_split/gallery/f13_2009-05-14.parquet
data_eval_split/gallery/f14_2009-05-15.parquet
data_eval_split/gallery/f15_2009-05-16.parquet
data_eval_split/gallery/f16_2009-05-17.parquet
data_eval_split/gallery/f17_2009-05-19.parquet
data_eval_split/gallery/f18_2009-05-20.parquet
data_eval_split/gallery/f19_2009-05-21.parquet
data_eval_split/gallery/f20_2009-05-22.parquet
data_eval_split/gallery/f21_2009-05-23.parquet
data_eval_split/gallery/f22_2009-05-24.parquet
data_eval_split/gallery/f23_2009-05-26.parquet
data_eval_split/gallery/f24_2009-05-27.parquet
data_eval_split/gallery/f25_2009-05-28.parquet
data_eval_split/gallery/f26_2009-05-29.parquet
data_eval_split/gallery/f27_2009-05-30.parquet
data_eval_split/gallery/f28_2009-05-31.parquet
data_eval_split/gallery/f29_2009-06-02.parquet
data_eval_split/gallery/f30_2009-06-03.parquet
data_eval_split/gallery/f31_2009-06-04.parquet
data_eval_split/gallery/f32_2009-06-05.parquet
data_eval_split/gallery/f33_2009-06-06.parquet
data_eval_split/gallery/f34_2009-06-07.parquet
data_eval_split/gallery/f35_2009-06-09.parquet
data_eval_split/gallery/f36_2009-06-10.parquet
data_eval_split/gallery/f37_2009-06-11.parquet
data_eval_split/gallery/f38_2009-06-12.parquet
data_eval_split/gallery/f39_2009-06-13.parquet
data_eval_split/gallery/f40_2009-06-14.parquet
data_eval_split/gallery/f41_2009-06-16.parquet
data_eval_split/gallery/f42_2009-06-17.parquet
data_eval_split/gallery/f43_2009-06-18.parquet
data_eval_split/gallery/f44_2009-06-19.parquet
data_eval_split/gallery/f45_2009-06-20.parquet
data_eval_split/gallery/f46_2009-06-21.parquet
data_eval_split/gallery/f47_2009-06-23.parquet
data_eval_split/gallery/f48_2009-06-24.parquet
data_eval_split/gallery/f49_2009-06-25.parquet
data_eval_split/gallery/f50_2009-06-26.parquet
data_eval_split/gallery/f51_2009-06-27.parquet
data_eval_split/gallery/f52_2009-06-28.parquet
data_eval_split/gallery/f53_2009-06-30.parquet
data_eval_split/gallery/f54_2009-07-01.parquet
data_eval_split/gallery/f55_2009-07-02.parquet
data_eval_split/gallery/f56_2009-07-03.parquet
data_eval_split/gallery/f57_2009-07-04.parquet
data_eval_split/gallery/f58_2009-07-05.parquet
data_eval_split/gallery/f59_2009-07-07.parquet
data_eval_split/gallery/f60_2009-07-08.parquet
data_eval_split/gallery/f61_2009-07-09.parquet
data_eval_split/gallery/f62_2009-07-10.parquet
data_eval_split/gallery/f63_2009-07-11.parquet
data_eval_split/gallery/f64_2009-07-12.parquet
data_eval_split/gallery/f65_2009-07-14.parquet
data_eval_split/gallery/f66_2009-07-15.parquet
data_eval_split/gallery/f67_2009-07-16.parquet
data_eval_split/gallery/f68_2009-07-17.parquet
data_eval_split/highschool/f0_2013-12-02.parquet
data_eval_split/highschool/f0_2013-12-03.parquet
data_eval_split/highschool/f0_2013-12-04.parquet
data_eval_split/highschool/f0_2013-12-05.parquet
data_eval_split/highschool/f0_2013-12-06.parquet
data_eval_split/highschool/f1_2012-11-19.parquet
data_eval_split/highschool/f1_2012-11-20.parquet
data_eval_split/highschool/f1_2012-11-21.parquet
data_eval_split/highschool/f1_2012-11-22.parquet
data_eval_split/highschool/f1_2012-11-23.parquet
data_eval_split/highschool/f1_2012-11-26.parquet
data_eval_split/highschool/f1_2012-11-27.parquet
data_eval_split/highschool/f2_1970-01-01.parquet
data_eval_split/highschool/f2_1970-01-02.parquet
data_eval_split/highschool/f2_1970-01-03.parquet
data_eval_split/highschool/f2_1970-01-04.parquet
data_eval_split/primaryschool/1970-01-01.parquet
data_eval_split/primaryschool/1970-01-02.parquet
data_SIR_centrality/celegans_0.05952518484288354_node_results_1.5only.csv
data_SIR_centrality/contiguous_0.3812351543942992_node_results_1.5only.csv
data_SIR_centrality/dolphin_0.3875947995666305_node_results_1.5only.csv
data_SIR_centrality/Email_0.08480526888969558_node_results_1.5only.csv
data_SIR_centrality/french_school_0.016024208365187795_node_results_1.5only.csv
data_SIR_centrality/infectious_0.07055875387881758_node_results_1.5only.csv
data_SIR_centrality/Jazz_0.05977502615974886_node_results_1.5only.csv
data_SIR_centrality/NS_0.10682561944834038_node_results_1.5only.csv
data_SIR_centrality/Power_0.870701948977975_node_results_1.5only.csv
data_SIR_centrality/Router_0.07864674316019656_node_results_1.5only.csv
data_SIR_centrality/sfhh_0.07055875387881758_node_results_1.5only.csv
data_SIR_centrality/USAir_0.05765329920055538_node_results_1.5only.csv
data_SIR_centrality2/celegans_0.0992086414048059_node_results_1.5only.csv
data_SIR_centrality2/contiguous_0.31769596199524935_node_results_1.5only.csv
data_SIR_centrality2/dolphin_0.21533044420368364_node_results_1.5only.csv
data_SIR_centrality2/Email_0.07067105740807966_node_results_1.5only.csv
data_SIR_centrality2/french_school_0.016024208365187795_node_results_1.5only.csv
data_SIR_centrality2/infectious_0.07055875387881758_node_results_1.5only.csv
data_SIR_centrality2/Jazz_0.03320834786652715_node_results_1.5only.csv
data_SIR_centrality2/NS_0.17804269908056727_node_results_1.5only.csv
data_SIR_centrality2/Power_0.4353509744889875_node_results_1.5only.csv
data_SIR_centrality2/Router_0.09830842895024569_node_results_1.5only.csv
data_SIR_centrality2/sfhh_0.07055875387881758_node_results_1.5only.csv
data_SIR_centrality2/USAir_0.02882664960027769_node_results_1.5only.csv
data_SIR_runs/mean_simulation_numRuns_5120_data_location_2101_days_30_NppS_15_p_change_0.01_mean_10_sigma_5_p_add_0.03_r_beta_0.1_baseline.npy
data_SIR_runs/mean_simulation_numRuns_5120_data_location_2101_days_30_NppS_15_p_change_0.01_mean_10_sigma_5_p_add_0.03_r_beta_0.1_clique.npy
data_SIR_runs/mean_simulation_numRuns_5120_data_location_2101_days_30_NppS_15_p_change_0.01_mean_10_sigma_5_p_add_0.03_r_beta_0.1_random.npy
data_SIR_runs/mean_simulation_numRuns_6350_data_location_1015_days_30_NppS_15_p_change_0.01_mean_10_sigma_5_p_add_0.03_r_beta_0.1_baseline.npy
data_SIR_runs/mean_simulation_numRuns_6350_data_location_1015_days_30_NppS_15_p_change_0.01_mean_10_sigma_5_p_add_0.03_r_beta_0.1_clique.npy
data_SIR_runs/mean_simulation_numRuns_6350_data_location_1015_days_30_NppS_15_p_change_0.01_mean_10_sigma_5_p_add_0.03_r_beta_0.1_random.npy
data_SIR_runs/mean_simulation_numRuns_6900_data_location_1018_days_30_NppS_15_p_change_0.01_mean_10_sigma_5_p_add_0.03_r_beta_0.1_baseline.npy
data_SIR_runs/mean_simulation_numRuns_6900_data_location_1018_days_30_NppS_15_p_change_0.01_mean_10_sigma_5_p_add_0.03_r_beta_0.1_clique.npy
data_SIR_runs/mean_simulation_numRuns_6900_data_location_1018_days_30_NppS_15_p_change_0.01_mean_10_sigma_5_p_add_0.03_r_beta_0.1_random.npy
data_SIR_runs/mean_simulation_numRuns_8090_data_location_1003_days_30_NppS_15_p_change_0.01_mean_10_sigma_5_p_add_0.03_r_beta_0.1_baseline.npy
data_SIR_runs/mean_simulation_numRuns_8090_data_location_1003_days_30_NppS_15_p_change_0.01_mean_10_sigma_5_p_add_0.03_r_beta_0.1_clique.npy
data_SIR_runs/mean_simulation_numRuns_8090_data_location_1003_days_30_NppS_15_p_change_0.01_mean_10_sigma_5_p_add_0.03_r_beta_0.1_random.npy
data_SIR_runs/mean_static_runs_5200_location_2101_network_baseline.npy
data_SIR_runs/mean_static_runs_5200_location_2101_network_clique.npy
data_SIR_runs/mean_static_runs_5200_location_2101_network_random.npy
data_SIR_runs/mean_static_runs_6400_location_1015_network_baseline.npy
data_SIR_runs/mean_static_runs_6400_location_1015_network_clique.npy
data_SIR_runs/mean_static_runs_6400_location_1015_network_random.npy
data_SIR_runs/mean_static_runs_6900_location_1018_network_baseline.npy
data_SIR_runs/mean_static_runs_6900_location_1018_network_clique.npy
data_SIR_runs/mean_static_runs_6900_location_1018_network_random.npy
data_SIR_runs/mean_static_runs_8100_location_1003_network_baseline.npy
data_SIR_runs/mean_static_runs_8100_location_1003_network_clique.npy
data_SIR_runs/mean_static_runs_8100_location_1003_network_random.npy
data_SIR_runs/mean_static_runs_10000_location_1015_network_baseline.npy
data_SIR_runs/mean_static_runs_10000_location_1015_network_clique.npy
data_SIR_runs/mean_static_runs_10000_location_1015_network_random.npy
plots/TAPAS/berlin_household_distribution_first500000.png
plots/TAPAS/berlin_household_distribution_firstNone.png
plots/TAPAS/berlin.gif
plots/TAPAS/degree_out_dist_full_rns.png
plots/TAPAS/duration_distribution_full_1.png
plots/TAPAS/locations_berlin_1000.png
plots/TAPAS/locations_berlin_10000.png
plots/TAPAS/rns_nodes_per_location.png
plots/TAPAS/shortest_path_dist_full_10_rns.png
plots/TAPAS/shortest_path_dist_full_100_rns.png
plots/TAPAS/shortest_path_dist_full_1000_rns.png
plots/corenumber_clustering/corenumber_cluster.png
plots/eval_networks/overview_gallery_f57_2009-07-04.png
plots/eval_networks/overview_gallery_f66_2009-07-15.png
plots/eval_networks/overview_SFHH_day1.png
plots/human_mobility/1015_STEPS_with_RWP_animation_test.gif
plots/human_mobility/gallery_f26_2009-05-29_STEPS_with_RWP_animation_test.gif
plots/human_mobility/gallery_f43_2009-06-18_STEPS_with_RWP_animation_test.gif
plots/human_mobility/gallery_f57_2009-07-04_STEPS_with_RWP_animation_test.gif
plots/human_mobility/RWP_animation_test.gif
plots/human_mobility/RWP_interpolation_test_singular.png
plots/human_mobility/RWP_interpolation_test.png
plots/human_mobility/STEPS_animation_test.gif
plots/human_mobility/STEPS_interpolation_test_singular.png
plots/human_mobility/STEPS_interpolation_test.png
plots/human_mobility/STEPS_with_RWP_animation_test.gif
plots/human_mobility/STEPS_with_RWP_interpolation_test_singular.png
plots/human_mobility/STEPS_with_RWP_interpolation_test.png
plots/human_mobility/TLW_animation_test.gif
plots/human_mobility/TLW_interpolation_test_singular.png
plots/human_mobility/TLW_interpolation_test.png
plots/network_summary/celegans.png
plots/network_summary/contiguous.png
plots/network_summary/dolphin.png
plots/network_summary/EEC.png
plots/network_summary/Email.png
plots/network_summary/Enron.png
plots/network_summary/Facebook.png
plots/network_summary/GrQc.png
plots/network_summary/infectious.png
plots/network_summary/Jazz.png
plots/network_summary/NS.png
plots/network_summary/PB.png
plots/network_summary/PG.png
plots/network_summary/Power.png
plots/network_summary/Router.png
plots/network_summary/Sex.png
plots/network_summary/sfhh.png
plots/network_summary/USAir.png
plots/network_summary/WV.png
plots/nndegree_clustering/celegans_nndegree_clustering.png
plots/nndegree_clustering/contiguous_nndegree_clustering.png
plots/nndegree_clustering/dolphin_nndegree_clustering.png
plots/nndegree_clustering/EEC_nndegree_clustering.png
plots/nndegree_clustering/Email_nndegree_clustering.png
plots/nndegree_clustering/Enron_nndegree_clustering.png
plots/nndegree_clustering/Facebook_nndegree_clustering.png
plots/nndegree_clustering/GrQc_nndegree_clustering.png
plots/nndegree_clustering/infectious_nndegree_clustering.png
plots/nndegree_clustering/Jazz_nndegree_clustering.png
plots/nndegree_clustering/nndegree_clustering.png
plots/nndegree_clustering/NS_nndegree_clustering.png
plots/nndegree_clustering/PB_nndegree_clustering.png
plots/nndegree_clustering/PG_nndegree_clustering.png
plots/nndegree_clustering/Power_nndegree_clustering.png
plots/nndegree_clustering/Router_nndegree_clustering.png
plots/nndegree_clustering/Sex_nndegree_clustering.png
plots/nndegree_clustering/sfhh_nndegree_clustering.png
plots/nndegree_clustering/USAir_nndegree_clustering.png
plots/nndegree_clustering/WV_nndegree_clustering.png
plots/paper/clique_animation.gif
plots/paper/clique_network_test.png
plots/paper/clique_network_test.svg
plots/paper/degree_out_dist_full_rns.png
plots/paper/degree_out_dist_full_weighted_rns.png
plots/paper/durations_baseline.png
plots/paper/durations_clique.png
plots/paper/durations_random.png
plots/paper/dynamic_static_sir_1003_6400.svg
plots/paper/dynamic_static_sir_1003_8100.pdf
plots/paper/dynamic_static_sir_1003_8100.png
plots/paper/dynamic_static_sir_1003_8100.svg
plots/paper/dynamic_static_sir_1015_6400.pdf
plots/paper/dynamic_static_sir_1015_6400.png
plots/paper/dynamic_static_sir_1015_6400.svg
plots/paper/dynamic_static_sir_1018_6900.pdf
plots/paper/dynamic_static_sir_1018_6900.png
plots/paper/dynamic_static_sir_1018_6900.svg
plots/paper/dynamic_static_sir_2101_5200.pdf
plots/paper/dynamic_static_sir_2101_5200.png
plots/paper/dynamic_static_sir_2101_5200.svg
shape_files/Berlin/bezirksgrenzen.dbf
shape_files/Berlin/bezirksgrenzen.prj
shape_files/Berlin/bezirksgrenzen.shp
shape_files/Berlin/bezirksgrenzen.shx
shape_files/Berlin/bezirksgrenzen.xsd
__pycache__/human_mobility_models.cpython-311.pyc
__pycache__/mobility.cpython-311.pyc
__pycache__/util.cpython-311.pyc
__pycache__/mobility.cpython-311.pyc
__pycache__/util.cpython-311.pyc
VF_data/activities.csv
VF_data/berlin_data.parquet
VF_data/berlin_loc_capas.csv
VF_data/modi.csv
VF_data/ns_loc_capas.csv
VF_data/pandemos_tra_tapas_modell.csv
VF_data/persongroups.csv
VF_data/region_niedersachsen_tapas_modell.csv
VF_data/rns_data_2.parquet
VF_data/rns_data.parquet
__pycache__/mobility.cpython-311.pyc
__pycache__/util.cpython-311.pyc
__pycache__/mobility.cpython-311.pyc
__pycache__/util.cpython-311.pyc
data_eval/data-shared/20210317_processed
data_eval/data-shared/20210317_processed.RDS
data_eval/data-shared/20210318_processed.RDS
data_eval/data-shared/20210319_processed.RDS
data_eval/data-shared/20210324_processed.RDS
data_eval/data-shared/20210325_processed.RDS
data_eval/data-shared/20210326_processed.RDS
berlin.gif
